*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  min-height: 100vh;
  background: linear-gradient(to right, #ffffff, #70abfd);
  font-family: sans-serif;
  padding-bottom: 14rem;
}

h1 {
  margin: 3rem 0;
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
}

h1 span {
  font-weight: bold;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
}

h1 span:nth-child(1) {
  background: rgb(255, 115, 0);
}

h1 span:nth-child(2) {
  background: rgb(38, 38, 228);
}

h1 span:nth-child(3) {
  background: rgb(215, 197, 0);
}

.question-block {
  background: #fff;
  width: 90%;
  max-width: 70rem;
  margin: 2rem auto;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.question-block>div {
  display: flex;
  align-items: center;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

label,
input {
  cursor: pointer;
  font-size: 1.8rem;
}

input[type="radio"] {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 1rem 0.5rem 0;
}

button {
  display: block;
  margin: 0 auto 1rem;
  min-width: 20rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  background: #e4efff;
  font-weight: bold;
  font-size: 2rem;
}

button:hover {
  background: #75afff;
}

.results {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  max-width: 70rem;
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 1.5rem auto;
  text-align: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.help {
  font-size: 1.8rem;
}

.mark {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.goodResponse {
  background: #a8ff78;
}

.wrongResponse {
  background: #ff7e9c;
  animation: slideWrong 0.1s ease-in-out 5;
}

@keyframes slideWrong {
  from {
    transform: translateX(-0.5rem);
  }

  to {
    transform: translateX(0.5rem);
  }
}

@media (min-width:370px) {
  .help {
    font-size: 2.2rem;
  }

  .mark {
    font-size: 1.8rem;
  }
}

@media (min-width:420px) {
  .help {
    font-size: 2.4rem;
  }

  .mark {
    font-size: 2rem;
  }
}

@media (min-width:500px) {
  h1 {
    font-size: 3.5rem;
  }

  .mark {
    font-size: 2.4rem;
  }
}

@media (min-width:700px) {
  .results {
    border-radius: 0.5rem;
  }
}